// COLORS
$color-app-background: #fff;
$color-text: #404040;
$color-title: #092A5E;

// TYPOGRAPHY & RELATED
$font-default: "TUIType", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

@import '../vendor/tui-colors'
