* {
  @apply box-border;
}

h1,h2,h3,h4,h5,h6,h7 {
  margin: 0;
}

@each $size in (1,2,3,4,5,6) {
  h#{$size} {
    $text-size: 7 - $size;
    @apply text-#{$text-size}xl;
  }
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  font: inherit;
  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
}
